* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.ttf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.docx binary
*.xlsx binary
*.zip binary
*.gz binary
*.tgz binary
*.sqlite binary
*.db binary
